<h1>Dashboard</h1>
<%= form_with(scope: 'database', url: dashboard_connect_to_database_url) do |form| %>
      <%= form.label :secret_path %>
      <%= form.text_field :secret_path, class: 'form-control', required: true  %>
      <%= form.label :host, 'Host:' %>
      <%= form.text_field :host, class: 'form-control', required: true %>

      <%= form.label :database, 'Database:' %>
      <%= form.text_field :database, class: 'form-control', required: true  %>

      <%= form.submit "Connect" %>
<% end %>
<div id='clearance_5'><%= @connection_status %></div>

<%= form_with(scope: 'rotate_secrets', url: dashboard_rotate_vault_secret_url) do |form| %>
  <%= form.label :rotate_path %>
  <%= form.text_field :rotate_path, class: 'form-control', required: true %>
  <%= form.submit "Rotate" %>
<% end %>
<div id='clearance_6'></div>